.contact__content__photo img {
  object-fit: cover;
  height: 412px;
  width: 412px;
  border-radius: 50%;
}
.contact__content__inf {
  padding-left: 216px;
}
.contact__content__inf a {
  text-decoration: underline;
  display: block;
  margin-bottom: var(--gap);
}
.contact__content__inf__links {
  padding-top: calc(var(--gap) * 12);
  gap: calc(var(--gap) * 2);
  margin-bottom: calc(var(--gap) * 13);
}

@media (max-width: 1000px) {
  .contact__content {
    flex-direction: column;
    align-items: center;
  }
  .contact__content__photo img {
    height: 300px;
    width: 300px;
  }
  .contact__content__inf {
    padding-left: 0;
  }
}
