@import "variables";
body {
  font-weight: 400;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  color: $main-color;
  line-height: 1.2;
}

.container {
  max-width: 1262px;
  margin: 0 auto;
  padding: 72px 16px;
}
a {
  color: $main-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    font-weight: 500;
    color: inherit;
  }
}
.title {
  font-weight: 500;
  font-size: 56px;
  text-align: center;
  margin-bottom: 55px;
}
.anchor {
  display: block;
  top: -120px;
  visibility: hidden;
  position: relative;
}
@media (max-width: 600px) {
  .title {
    font-size: 40px;
  }
}
