.header {
  background-color: var(--general-white-color);
  &__container {
    padding-top: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--secondary-color);
  }
}
@media (max-width: 900px) {
  .header__link {
    font-size: 16px;
  }
}
@media (max-width: 600px) {
  .header {
    display: none;
  }
}
