@import "variables";
.languages {
  background-color: #fafafa;
  &__items {
    gap: $gap;
    flex-wrap: wrap;
  }
  &__item {
    text-align: center;
    &__img {
      height: 182px;
      width: 182px;
      margin-bottom: calc($gap * 3);
      &-by {
        border-radius: 50%;
        height: 182px;
        width: 182px;
        margin-bottom: calc($gap * 3);
      }
    }
  }
  &__lang {
    font-weight: 500;
    margin-bottom: $gap;
  }
}
