.fa.fa-star {
  margin: 3px;
  color: var(--secondary-text-color);
}
.fa.fa-star.checked {
  color: var(--main-color);
}
.skills__items {
  gap: calc(var(--gap) * 5);
  flex-wrap: wrap;
}
.skill__item {
  &__img {
    text-align: center;
    margin-bottom: 20px;
    flex: 1 1 auto;
  }
  &__skill {
    text-align: center;
    margin-bottom: 50px;
    font-size: 14px;
  }
  &__stars {
    margin-bottom: 70px;
  }
}
.skills {
  &__arrow {
    margin: 0 auto;
    width: 24px;
    height: 24px;
    border-top: 5px solid var(--main-color);
    border-right: 5px solid var(--main-color);
    transform: rotate(135deg);
  }
  &__hidden {
    display: none;
  }
}
