@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
* {
  box-sizing: border-box;
  font-weight: 400;
  border: none;
  margin: 0;
}

ul,
li {
  list-style-type: none;
}

:root {
  --main-color: #120d0e;
  --secondary-color: #3d3b3c;
  --secondary-text-color: #bebebe;
  --general-white-color: #ffffff;
  --accent-blue: #10367c;
  --buttons-color: #3a4576;
  --gap: 8px;
}

body {
  font-weight: 400;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  color: var(--main-color);
  line-height: 1.2;
}

.container {
  max-width: 1262px;
  margin: 0 auto;
  padding: 72px 16px;
}

a {
  color: var(--main-color);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  font-weight: 500;
  color: inherit;
}

.title {
  font-weight: 500;
  font-size: 56px;
  text-align: center;
  margin-bottom: 55px;
}

.header__container {
  background-color: var(--general-white-color);
  padding-top: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--secondary-color);
}

.about {
  font-weight: 500;
  font-size: 56px;
}
.about__photo img {
  height: 465px;
  width: 385px;
}
.about__inf {
  max-width: 572px;
}
.about__inf__name {
  margin-bottom: var(--gap);
}
.about__inf__role {
  margin-bottom: 40px;
  color: var(--secondary-text-color);
}
.about__inf__about__me {
  margin-bottom: 20px;
  font-size: 22px;
  color: var(--secondary-color);
}
.about__inf__about__me:last-child {
  margin-bottom: 72px;
}
.about__inf__buttons {
  gap: 24px;
}
.about__inf__buttons__button {
  width: 185px;
  padding: 14px 0;
  font-size: 24px;
  color: var(--general-white-color);
  background-color: var(--buttons-color);
}

.button__href {
  color: var(--general-white-color);
}
.button__href:hover {
  text-decoration: none;
  font-weight: 400;
}

.fa.fa-star {
  margin: 3px;
  color: var(--secondary-text-color);
}

.fa.fa-star.checked {
  color: var(--main-color);
}

.skills__items {
  gap: calc(var(--gap) * 5);
  flex-wrap: wrap;
}

.skill__item__img {
  text-align: center;
  margin-bottom: 20px;
  flex: 1 1 auto;
}
.skill__item__skill {
  text-align: center;
  margin-bottom: 50px;
  font-size: 14px;
}
.skill__item__stars {
  margin-bottom: 70px;
}

.skills__arrow {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  border-top: 5px solid var(--main-color);
  border-right: 5px solid var(--main-color);
  transform: rotate(135deg);
}
.skills__hidden {
  display: none;
}

.timeline {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 40px;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: "";
  position: absolute;
  width: 1px;
  background-color: var(--main-color);
  top: 0;
  bottom: 0;
  left: 50%;
}

/* Container around content */
.timeline__container {
  padding: 25px 16px 0;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.timeline__container::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  right: -6px;
  background-color: #c4c4c4;
  top: 50%;
  border-radius: 50%;
  z-index: 1;
}

.timeline__container-now::after {
  background-color: var(--main-color);
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.timeline__right {
  left: 50%;
}

/* Fix the circle for containers on the right side */
.timeline__right::after {
  left: -6px;
}

/* The actual content */
.timeline__content {
  position: relative;
  border-radius: 6px;
  align-items: center;
}

.timeline__content-left {
  text-align: right;
}

.timeline__content__work {
  width: 100%;
}

.timeline__content__date, .timeline__content__do {
  color: var(--secondary-text-color);
}
.timeline__content__date {
  width: 100%;
}
.timeline__content__date-now {
  color: var(--buttons-color);
}
.timeline__content__date-left {
  order: 1;
}
.timeline__content__do {
  font-size: 16px;
}
.timeline__content__place {
  font-weight: 500;
  margin-bottom: calc(var(--gap) / 2);
}
.timeline__content__content__prof {
  margin-bottom: var(--gap);
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timeline to the left */
  .timeline::after {
    left: 31px;
  }
  /* Full-width containers */
  .timeline__container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  /* Make sure all circles are at the same spot */
  .left::after,
  .timeline__right::after {
    left: 0;
  }
  /* Make all right containers behave like the left ones */
  .timeline__right {
    left: 0;
  }
}
