@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
* {
  box-sizing: border-box;
  font-weight: 400;
  border: none;
  margin: 0;
}

ul,
li {
  list-style-type: none;
}

body {
  font-weight: 400;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  color: #120d0e;
  line-height: 1.2;
}

.container {
  max-width: 1262px;
  margin: 0 auto;
  padding: 72px 16px;
}

a {
  color: #120d0e;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  font-weight: 500;
  color: inherit;
}

.title {
  font-weight: 500;
  font-size: 56px;
  text-align: center;
  margin-bottom: 55px;
}

.anchor {
  display: block;
  top: -120px;
  visibility: hidden;
  position: relative;
}

@media (max-width: 600px) {
  .title {
    font-size: 40px;
  }
}
.header {
  background-color: #ffffff;
}
.header__container {
  padding-top: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid #3d3b3c;
}

@media (max-width: 900px) {
  .header__link {
    font-size: 16px;
  }
}
@media (max-width: 600px) {
  .header {
    display: none;
  }
}
.about {
  font-weight: 500;
  font-size: 56px;
}
.about__photo img {
  height: 465px;
  width: 385px;
}
.about__inf {
  max-width: 572px;
}
.about__inf__name {
  margin-bottom: 8px;
  text-align: left;
}
.about__inf__role {
  margin-bottom: 40px;
  color: #bebebe;
  text-align: left;
}
.about__inf__about__me {
  margin-bottom: 20px;
  font-size: 22px;
  color: #3d3b3c;
}
.about__inf__about__me:last-child {
  margin-bottom: 72px;
}
.about__inf__buttons {
  gap: 24px;
}
.about__inf__buttons__button {
  width: 185px;
  padding: 14px 0;
  font-size: 24px;
  color: #ffffff;
  background-color: #3a4576;
}

.button__href {
  color: #ffffff;
}
.button__href:hover {
  text-decoration: none;
  font-weight: 400;
}

@media (max-width: 1000px) {
  .about__infs {
    flex-direction: column;
    align-items: center;
  }
  .about__photo {
    height: 465px;
    width: 385px;
    order: -1;
    margin-bottom: 24px;
  }
}
.fa.fa-star {
  margin: 3px;
  color: #bebebe;
}

.fa.fa-star.checked {
  color: #120d0e;
}

.skills__items {
  gap: 40px;
  flex-wrap: wrap;
}

.skill__item__img {
  text-align: center;
  margin-bottom: 20px;
  flex: 1 1 auto;
}
.skill__item__skill {
  text-align: center;
  margin-bottom: 50px;
  font-size: 14px;
}
.skill__item__stars {
  margin-bottom: 70px;
}

.skills {
  background-color: #fafafa;
}
.skills__arrow {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  border-top: 5px solid #120d0e;
  border-right: 5px solid #120d0e;
  transform: rotate(135deg);
}
.skills__hidden {
  display: none;
}

.experience {
  background-color: #ffffff;
}

.timeline {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 40px;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: "";
  position: absolute;
  width: 1px;
  background-color: #120d0e;
  top: 0;
  bottom: 0;
  left: 50%;
}

/* Container around content */
.timeline__container {
  padding: 25px 16px 0;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.timeline__container::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  right: -6px;
  background-color: #c4c4c4;
  top: 50%;
  border-radius: 50%;
  z-index: 1;
}

.timeline__container-now::after {
  background-color: #120d0e;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.timeline__right {
  left: 50%;
}

/* Fix the circle for containers on the right side */
.timeline__right::after {
  left: -6px;
}

/* The actual content */
.timeline__content {
  position: relative;
  border-radius: 6px;
  align-items: center;
}

.timeline__content-left {
  text-align: right;
}

.timeline__content__work {
  width: 100%;
}

.timeline__content__date, .timeline__content__do {
  color: #bebebe;
}
.timeline__content__date {
  width: 100%;
}
.timeline__content__date-now {
  color: #3a4576;
}
.timeline__content__date-left {
  order: 1;
}
.timeline__content__do {
  font-size: 16px;
}
.timeline__content__place {
  font-weight: 500;
  margin-bottom: 4px;
}
.timeline__content__content__prof {
  margin-bottom: 8px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timeline to the left */
  .timeline::after {
    left: 31px;
  }
  /* Full-width containers */
  .timeline__container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  /* Make sure all circles are at the same spot */
  .left::after,
  .timeline__right::after {
    left: 0;
  }
  /* Make all right containers behave like the left ones */
  .timeline__right {
    left: 0;
  }
  .timeline__left:after {
    left: 0;
  }
  .timeline__content__date-left {
    order: 0;
  }
  .timeline__content-left {
    text-align: left;
  }
}
.projects {
  background-color: #fafafa;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fafafa;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding-left: 56px;
}

.swiper-slide__content__img {
  width: 100%;
  margin-bottom: 56px;
}
.swiper-slide__content__description {
  padding: 72px 130px 0;
  font-size: 24px;
  text-align: left;
}
.swiper-slide__content__description__name {
  font-weight: 500;
  margin-bottom: 8px;
}
.swiper-slide__content__description__desc {
  color: #bebebe;
  margin-bottom: 72px;
}

.swiper-pagination {
  position: relative;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0;
  margin-right: 16px;
}

.swiper-pagination-bullet {
  width: 17px;
  height: 17px;
  background-color: #3a4576;
}

@media (max-width: 1000px) {
  .swiper-slide__content {
    flex-direction: column;
  }
  .swiper-slide__content__img {
    margin: 0 auto;
    max-width: 603px;
    max-height: 377px;
  }
}
.languages {
  background-color: #fafafa;
}
.languages__items {
  gap: 8px;
  flex-wrap: wrap;
}
.languages__item {
  text-align: center;
}
.languages__item__img {
  height: 182px;
  width: 182px;
  margin-bottom: 24px;
}
.languages__item__img-by {
  border-radius: 50%;
  height: 182px;
  width: 182px;
  margin-bottom: 24px;
}
.languages__lang {
  font-weight: 500;
  margin-bottom: 8px;
}

.contact__content__photo img {
  object-fit: cover;
  height: 412px;
  width: 412px;
  border-radius: 50%;
}
.contact__content__inf {
  padding-left: 216px;
}
.contact__content__inf a {
  text-decoration: underline;
  display: block;
  margin-bottom: 8px;
}
.contact__content__inf__links {
  padding-top: 96px;
  gap: 16px;
  margin-bottom: 104px;
}

@media (max-width: 1000px) {
  .contact__content {
    flex-direction: column;
    align-items: center;
  }
  .contact__content__photo img {
    height: 300px;
    width: 300px;
  }
  .contact__content__inf {
    padding-left: 0;
  }
}
